RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /index.php/$1 [L]
ErrorDocument 404 views/404.php
ErrorDocument 500 views/404.php
ErrorDocument 403 views/404.php
ErrorDocument 400 views/404.php
ErrorDocument 401 views/401.php